<h2>Reactive: <small>Dinámicos</small></h2>
<hr />

<form (ngSubmit)="guardar()" [formGroup]="miFormulario" autocomplete="off" >
  <!-- Nombre -->
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label"> Nombre </label>
    <div class="col-sm-9">
      <input
        class="form-control"
        formControlName="nombre"
        placeholder="Nombre de la persona"
      />
      <span class="form-text text-danger" 
      *ngIf="validarForm('nombre')"
        >Este campo es obligatorio
      </span>
    </div>
  </div>

  <!-- Agregar favorito -->
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label"> Agregar </label>
    <div class="col-sm-9">
      <div class="input-group">
        <input class="form-control" 
               [formControl]="nuevoFavorito"
               placeholder="Agregar juego favorito"
               (keyup.enter)="1-1"
               />

        <button class="btn btn-outline-primary" 
                type="button"
                  >Agregar</button>
      </div>
    </div>
  </div>

  <!-- Lista de juegos Favoritos -->
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label"> Favoritos </label>
    <div class="col-sm-9">
      <div
        class="input-group mb-1"
        
      >
        <input
          class="form-control "
        />
        <button class="btn btn-outline-danger" 
                type="button"
                >
                Eliminar
              </button>
              <!-- <div class="mt-2" *ngIf="!miFormulario.favoritos">
                <p> No hay favoritos!</p>
              </div> -->
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <button
        type="submit"
        class="btn btn-primary float-end"
      (click)="guardar()"
      >
        Guardar
      </button>
    </div>
  </div>
</form>


<span>valid</span>
<pre>{{miFormulario.valid}}</pre>

<span>Value</span>
<pre>{{miFormulario.value | json}}</pre>

<!-- <span>Persona</span>
<pre>{{ persona | json }}</pre> -->
