<h2>Reactive: <small>Dinámicos</small></h2>
<hr />

<form  autocomplete="off" >
  <!-- Nombre -->
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label"> Nombre </label>
    <div class="col-sm-9">
      <input
        class="form-control"
        placeholder="Nombre de la persona"
      />
      <span class="form-text text-danger" 
        >Este campo es obligatorio
      </span>
    </div>
  </div>

  <!-- Agregar favorito -->
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label"> Agregar </label>
    <div class="col-sm-9">
      <div class="input-group">
        <input class="form-control" 
               placeholder="Agregar juego favorito"
               (keyup.enter)="1-1"
               />

        <button class="btn btn-outline-primary" 
                type="button"
                  >Agregar</button>
      </div>
    </div>
  </div>

  <!-- Lista de juegos Favoritos -->
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label"> Favoritos </label>
    <div class="col-sm-9">
      <!-- <div
        class="input-group mb-1"
        *ngFor="let juego of persona.favoritos; let i = index"
      >
        <input
          [(ngModel)]="juego.nombre"
          name="favorito_{{ i }}"
          class="form-control "
          required
        />
        <button class="btn btn-outline-danger" 
                type="button"
                (click)="eliminar(i)">Eliminar</button>
                <div *ngIf="persona.favoritos.length ==0">
                   <p> No hay favoritos!</p>
                </div>
      </div> -->
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <button
        type="button"
        class="btn btn-primary float-end"
      
      >
        Guardar
      </button>
    </div>
  </div>
</form>

<!-- <span>Persona</span>
<pre>{{ persona | json }}</pre> -->
